/*Especificidad: 001*/
body {
  background-color: #8FD6D2;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
}
/*Especificidad: 001*/
h1 {
  color: #411B1B;
  text-align: center;
}
/*Especificidad: 001*/
fieldset{
  margin-right: 5em;
  width: 16em;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
/*Especificidad: 011*/
fieldset:nth-child(1){
  display: grid;
  grid-template-columns: auto;
  background-color:rgb(0, 0, 0);
}
/*Especificidad: 001*/
form {
  margin-left: 5em;
  background-color: rgb(44, 42, 42);
  width: 18em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: auto;
}
/*Especificidad: 011*/
input[type='button'] {
  border-radius: 0.5em;
  height: 2.5em;
  width: 3em;
  margin: 0.6em;
}
/*Especificidad: 011*/
input[type='submit'] {
  border-radius: 0.5em;
  margin: 0.5em;
  background-color:rgb(122, 126, 180);
}
/*Especificidad: 011*/
input[type='text'] {
  height: 2.5em;
  width: 30em;
  margin: 0.5em;
  color: rgb(0, 0, 0);
  background-color:darkolivegreen;
  }
/*Especificidad: 011*/
input[value='mrc'],
input[value='mr+'],
input[value='mr-'] {
  background-color: rgb(100, 100, 109);
  color: white;
}
/*Especificidad: 011*/
input[value='/'],
input[value='*'],
input[value='+'],
input[value='-'] {
  background-color: rgb(223, 49, 49);
}
/*Especificidad: 001*/
label {
  color: white;
}
