
/*Especificidad: 001*/
body {
  font: 500 1em Courier, monospace;
  line-height: 1.8em;
  background-color: #d74f00;
  background-image: linear-gradient(#d74f00 , #ffd2b8);
  color: black;
  padding-right: 1.75em;
  text-align: justify;
}

/*Especificidad: 001*/
p{
  text-indent: 5em;
}

/*Especificidad: 001*/
h1 {
  background-color:#00328f;
  border-radius: 1em;
  text-transform: uppercase;
  text-align: center; 
  padding: 1.6em;    
}

/*Especificidad: 001*/
h2,h3 {
  color: #000000;
  background-color: #a38383;
  padding: 0.6em; 
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
}

/*Especificidad: 001*/
section{
  text-indent: 2.5em;
}

/*Especificidad: 001*/
table, th, td {
  border: 0.06em solid #ffffff;
  padding: 0.3em;
}

/*Especificidad: 001*/
button{
  background-color: #00028f;
  border-radius: 0.5em;
  color: #ffffff;
}

/*Especificidad: 001*/
caption { 
  caption-side: top; 
  text-transform: uppercase;
}

/*Especificidad: 001*/
li{
  margin-bottom: 2.5em;
}

/*Especificidad: 001*/
a{
  text-decoration: none;
  color: #ffffff;
}

/*Especificidad: 011*/
a:hover, a:active {
  color: #008f83;
  background-color: white;
  padding: 0.9em;
  text-decoration: none;
}

/*Especificidad: 001*/
footer,article{
  border: 0.06em solid #a38383;
  border-radius: 1.5em;
  padding-right: 0.4em;
}
/*Especificidad: 001*/
footer{
  text-align: right;
}
/*Especificidad: 001*/
article{
  text-align: center;
}
